flows (16).json
[{"id":"b75f10cf.966d","type":"tab","label":"Credit_Card_Fraud_Detection","disabled":false,"info":""},{"id":"add9a260.39194","type":"debug","z":"b75f10cf.966d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":480,"wires":[]},{"id":"c3657ab7.ced758","type":"function","z":"b75f10cf.966d","name":"pre-token","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ai\",msg.payload.ai)\nglobal.set(\"coi\",msg.payload.coi)\nglobal.set(\"la\",msg.payload.la)\nglobal.set(\"lt\",msg.payload.lt)\nglobal.set(\"cha\",msg.payload.cha)\nglobal.set(\"ho\",msg.payload.ho)\nglobal.set(\"lo\",msg.payload.lo)\nglobal.set(\"a\",msg.payload.a)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"c\",msg.payload.c)\nvar apikey=\"ZOMaN9kZnExC2p3xePK_jYMojkyV5S7kF-8D358q4iuL\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":340,"wires":[["5337067b.c49ce8"]]},{"id":"5337067b.c49ce8","type":"http request","z":"b75f10cf.966d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":384.00000286102295,"wires":[["6dd15ffb.9904b","c67d55f1.6fa8d8"]]},{"id":"6dd15ffb.9904b","type":"debug","z":"b75f10cf.966d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":440,"wires":[]},{"id":"c67d55f1.6fa8d8","type":"function","z":"b75f10cf.966d","name":"Pre Prediction","func":"var rd = global.get(\"rd\")\nvar ms = global.get(\"ms\")\nvar ad = global.get(\"ad\")\nvar st = global.get(\"st\")\nvar se = global.get(\"se\")\nvar ai = global.get(\"ai\")\nvar coi = global.get(\"coi\")\nvar la= global.get(\"la\")\nvar lt = global.get(\"lt\")\nvar cha = global.get(\"cha\")\nvar ho= global.get(\"ho\")\nvar lo = global.get(\"lo\")\nvar a = global.get(\"a\")\nvar b = global.get(\"b\")\nvar c = global.get(\"c\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"CustomerID\",\"A1\",\"A2\",\"A3\",\"A4\",\"A5\",\"A6\",\"A7\",\"A8\",\"A9\",\"A10\",\"A11\",\"A12\",\"A13\",\"A14\"]],\"values\": [[rd,ad,ms,st,se,ai,coi,la,lt,cha,ho,lo,a,b,c]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":336.0000021457672,"wires":[["bbe73620.daec58"]]},{"id":"bbe73620.daec58","type":"http request","z":"b75f10cf.966d","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/3759e212-1cb0-491e-81f8-1545c3dc726c/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":360,"wires":[["a26f8dc0.49318","cbd21ef4.4a8c8"]]},{"id":"a26f8dc0.49318","type":"debug","z":"b75f10cf.966d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":962.9999914169312,"y":444.00000381469727,"wires":[]},{"id":"ac48e36b.d45f5","type":"inject","z":"b75f10cf.966d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[[]]},{"id":"1d918a28.503606","type":"debug","z":"b75f10cf.966d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":793.9999885559082,"y":227.0000057220459,"wires":[]},{"id":"cbd21ef4.4a8c8","type":"function","z":"b75f10cf.966d","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":268.00000190734863,"wires":[["1d918a28.503606","9b76c09a.cf07f"]]},{"id":"9b76c09a.cf07f","type":"ui_text","z":"b75f10cf.966d","group":"9e9f0209.5fa5f","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":501.20001220703125,"wires":[]},{"id":"35758afa.2955c6","type":"ui_form","z":"b75f10cf.966d","name":"","label":"","group":"9e9f0209.5fa5f","order":1,"width":0,"height":0,"options":[{"label":"CustomerID","value":"rd","type":"number","required":true,"rows":null},{"label":"A1","value":"ms","type":"number","required":true,"rows":null},{"label":"A2","value":"ad","type":"number","required":true,"rows":null},{"label":"A3","value":"st","type":"number","required":true,"rows":null},{"label":"A4","value":"se","type":"number","required":true,"rows":null},{"label":"A5","value":"ai","type":"number","required":true,"rows":null},{"label":"A6","value":"coi","type":"number","required":true,"rows":null},{"label":"A7","value":"la","type":"number","required":true,"rows":null},{"label":"A8","value":"lt","type":"number","required":true,"rows":null},{"label":"A9","value":"cha","type":"number","required":true,"rows":null},{"label":"A10","value":"ho","type":"number","required":true,"rows":null},{"label":"A11","value":"lo","type":"number","required":true,"rows":null},{"label":"A12","value":"a","type":"number","required":true,"rows":null},{"label":"A13","value":"b","type":"number","required":true,"rows":null},{"label":"A14","value":"c","type":"number","required":true,"rows":null}],"formValue":{"rd":"","ms":"","ad":"","st":"","se":"","ai":"","coi":"","la":"","lt":"","cha":"","ho":"","lo":"","a":"","b":"","c":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":50,"y":400,"wires":[["add9a260.39194","c3657ab7.ced758"]]},{"id":"9e9f0209.5fa5f","type":"ui_group","z":"","name":"Default","tab":"6c9d1da2.ecb704","order":1,"disp":true,"width":"6","collapse":false},{"id":"6c9d1da2.ecb704","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]